
:root {
    --colorColorWhite: #ffffff;    
    --colorColorBlack: #000000;    
    --colorColorGraylight100: #f2f4f7;    
    --colorColorGraylight200: #eaecf0;    
    --colorColorGraylight300: #d0d5dd;    
    --colorColorGraylight400: #98a2b3;    
    --colorColorGraylight500: #667085;    
    --colorColorGraylight600: #475467;    
    --colorColorGraylight700: #344054;    
    --colorColorGraylight800: #182230;    
    --colorColorGraylight900: #101828;    
    --colorColorGraylight950: #0c111d;    
    --colorColorGraylight025: #fcfcfd;    
    --colorColorGraylight050: #f9fafb;    
    --colorColorGraydark100: #f0f1f1;    
    --colorColorGraydark200: #ececed;    
    --colorColorGraydark300: #cecfd2;    
    --colorColorGraydark400: #94969c;    
    --colorColorGraydark500: #85888e;    
    --colorColorGraydark600: #61646c;    
    --colorColorGraydark700: #333741;    
    --colorColorGraydark800: #1f242f;    
    --colorColorGraydark900: #161b26;    
    --colorColorGraydark950: #0c111d;    
    --colorColorGraydark025: #fafafa;    
    --colorColorGraydark050: #f5f5f6;    
    --colorColorRed100: #fee4e2;    
    --colorColorRed200: #fecdca;    
    --colorColorRed300: #fda29b;    
    --colorColorRed400: #f97066;    
    --colorColorRed500: #f04438;    
    --colorColorRed600: #d92d20;    
    --colorColorRed700: #b42318;    
    --colorColorRed800: #912018;    
    --colorColorRed900: #7a271a;    
    --colorColorRed950: #55160c;    
    --colorColorRed025: #fffbfa;    
    --colorColorRed050: #fef3f2;    
    --colorColorAmber100: #fef0c7;    
    --colorColorAmber200: #fedf89;    
    --colorColorAmber300: #fec84b;    
    --colorColorAmber400: #fdb022;    
    --colorColorAmber500: #f79009;    
    --colorColorAmber600: #dc6803;    
    --colorColorAmber700: #b54708;    
    --colorColorAmber800: #93370d;    
    --colorColorAmber900: #7a2e0e;    
    --colorColorAmber950: #4e1d09;    
    --colorColorAmber025: #fffcf5;    
    --colorColorAmber050: #fffaeb;    
    --colorColorSuccess100: #dcfae6;    
    --colorColorSuccess200: #a9efc5;    
    --colorColorSuccess300: #75e0a7;    
    --colorColorSuccess400: #47cd89;    
    --colorColorSuccess500: #17b26a;    
    --colorColorSuccess600: #079455;    
    --colorColorSuccess700: #067647;    
    --colorColorSuccess800: #085d3a;    
    --colorColorSuccess900: #074d31;    
    --colorColorSuccess950: #053321;    
    --colorColorSuccess025: #f6fef9;    
    --colorColorSuccess050: #ecfdf3;    
    --colorColorGrayblue100: #eaecf5;    
    --colorColorGrayblue200: #d5d9eb;    
    --colorColorGrayblue300: #b3b8db;    
    --colorColorGrayblue400: #717bbc;    
    --colorColorGrayblue500: #4e5ba6;    
    --colorColorGrayblue600: #3e4784;    
    --colorColorGrayblue700: #363f72;    
    --colorColorGrayblue800: #293056;    
    --colorColorGrayblue900: #101323;    
    --colorColorGrayblue950: #0d0f1c;    
    --colorColorGrayblue025: #fcfcfd;    
    --colorColorGrayblue050: #f8f9fc;    
    --colorColorGraycool100: #eff1f5;    
    --colorColorGraycool200: #dcdfea;    
    --colorColorGraycool300: #b9c0d4;    
    --colorColorGraycool400: #7d89b0;    
    --colorColorGraycool500: #5d6b98;    
    --colorColorGraycool600: #4a5578;    
    --colorColorGraycool700: #404968;    
    --colorColorGraycool800: #30374f;    
    --colorColorGraycool900: #111322;    
    --colorColorGraycool950: #0e101b;    
    --colorColorGraycool025: #fcfcfd;    
    --colorColorGraycool050: #fcfcfd;    
    --colorColorGraymodern100: #eef2f6;    
    --colorColorGraymodern200: #e3e8ef;    
    --colorColorGraymodern300: #cdd5df;    
    --colorColorGraymodern400: #9aa4b2;    
    --colorColorGraymodern500: #697586;    
    --colorColorGraymodern600: #4b5565;    
    --colorColorGraymodern700: #364152;    
    --colorColorGraymodern800: #202939;    
    --colorColorGraymodern900: #121926;    
    --colorColorGraymodern950: #0d121c;    
    --colorColorGraymodern025: #fcfcfd;    
    --colorColorGraymodern050: #f8fafc;    
    --colorColorGrayneutral100: #f3f4f6;    
    --colorColorGrayneutral200: #e5e7eb;    
    --colorColorGrayneutral300: #d2d6db;    
    --colorColorGrayneutral400: #9da4ae;    
    --colorColorGrayneutral500: #6c737f;    
    --colorColorGrayneutral600: #4d5761;    
    --colorColorGrayneutral700: #384250;    
    --colorColorGrayneutral800: #1f2a37;    
    --colorColorGrayneutral900: #111927;    
    --colorColorGrayneutral950: #0d121c;    
    --colorColorGrayneutral025: #fcfcfd;    
    --colorColorGrayneutral050: #f9fafb;    
    --colorColorGrayiron100: #f4f4f5;    
    --colorColorGrayiron200: #e4e4e7;    
    --colorColorGrayiron300: #d1d1d6;    
    --colorColorGrayiron400: #a0a0ab;    
    --colorColorGrayiron500: #70707b;    
    --colorColorGrayiron600: #51525c;    
    --colorColorGrayiron700: #3f3f46;    
    --colorColorGrayiron800: #26272b;    
    --colorColorGrayiron900: #1a1a1e;    
    --colorColorGrayiron950: #131316;    
    --colorColorGrayiron025: #fcfcfc;    
    --colorColorGrayiron050: #fafafa;    
    --colorColorGraytrue100: #f5f5f5;    
    --colorColorGraytrue200: #e5e5e5;    
    --colorColorGraytrue300: #d6d6d6;    
    --colorColorGraytrue400: #a3a3a3;    
    --colorColorGraytrue500: #737373;    
    --colorColorGraytrue600: #525252;    
    --colorColorGraytrue700: #424242;    
    --colorColorGraytrue800: #292929;    
    --colorColorGraytrue900: #141414;    
    --colorColorGraytrue950: #0f0f0f;    
    --colorColorGraytrue025: #fcfcfc;    
    --colorColorGraytrue050: #fafafa;    
    --colorColorGraywarm100: #f5f5f4;    
    --colorColorGraywarm200: #e7e5e4;    
    --colorColorGraywarm300: #d7d3d0;    
    --colorColorGraywarm400: #a9a29d;    
    --colorColorGraywarm500: #79716b;    
    --colorColorGraywarm600: #57534e;    
    --colorColorGraywarm700: #44403c;    
    --colorColorGraywarm800: #292524;    
    --colorColorGraywarm900: #1c1917;    
    --colorColorGraywarm950: #171412;    
    --colorColorGraywarm025: #fdfdfc;    
    --colorColorGraywarm050: #fafaf9;    
    --colorColorMoss100: #e6f4d7;    
    --colorColorMoss200: #ceeab0;    
    --colorColorMoss300: #acdc79;    
    --colorColorMoss400: #86cb3c;    
    --colorColorMoss500: #669f2a;    
    --colorColorMoss600: #4f7a21;    
    --colorColorMoss700: #3f621a;    
    --colorColorMoss800: #335015;    
    --colorColorMoss900: #2b4212;    
    --colorColorMoss950: #1a280b;    
    --colorColorMoss025: #fafdf7;    
    --colorColorMoss050: #f5fbee;    
    --colorColorGreenlight100: #e3fbcc;    
    --colorColorGreenlight200: #d0f8ab;    
    --colorColorGreenlight300: #a6ef67;    
    --colorColorGreenlight400: #85e13a;    
    --colorColorGreenlight500: #66c61c;    
    --colorColorGreenlight600: #4ca30d;    
    --colorColorGreenlight700: #3b7c0f;    
    --colorColorGreenlight800: #326212;    
    --colorColorGreenlight900: #2b5314;    
    --colorColorGreenlight950: #15290a;    
    --colorColorGreenlight025: #fafef5;    
    --colorColorGreenlight050: #f3fee7;    
    --colorColorGreen100: #d3f8df;    
    --colorColorGreen200: #aaf0c4;    
    --colorColorGreen300: #73e2a3;    
    --colorColorGreen400: #3ccb7f;    
    --colorColorGreen500: #16b364;    
    --colorColorGreen600: #099250;    
    --colorColorGreen700: #087443;    
    --colorColorGreen800: #095c37;    
    --colorColorGreen900: #084c2e;    
    --colorColorGreen950: #052e1c;    
    --colorColorGreen025: #f6fef9;    
    --colorColorGreen050: #edfcf2;    
    --colorColorTeal100: #ccfbef;    
    --colorColorTeal200: #99f6e0;    
    --colorColorTeal300: #5fe9d0;    
    --colorColorTeal400: #2ed3b7;    
    --colorColorTeal500: #15b79e;    
    --colorColorTeal600: #0e9384;    
    --colorColorTeal700: #107569;    
    --colorColorTeal800: #125d56;    
    --colorColorTeal900: #134e48;    
    --colorColorTeal950: #0a2926;    
    --colorColorTeal025: #f6fefc;    
    --colorColorTeal050: #f0fdf9;    
    --colorColorCyan100: #cff9fe;    
    --colorColorCyan200: #a5f0fc;    
    --colorColorCyan300: #67e3f9;    
    --colorColorCyan400: #22ccee;    
    --colorColorCyan500: #06aed4;    
    --colorColorCyan600: #088ab2;    
    --colorColorCyan700: #0e7090;    
    --colorColorCyan800: #155b75;    
    --colorColorCyan900: #164c63;    
    --colorColorCyan950: #0d2d3a;    
    --colorColorCyan025: #f5feff;    
    --colorColorCyan050: #ecfdff;    
    --colorColorBluelight100: #e0f2fe;    
    --colorColorBluelight200: #b9e6fe;    
    --colorColorBluelight300: #7cd4fd;    
    --colorColorBluelight400: #36bffa;    
    --colorColorBluelight500: #0ba5ec;    
    --colorColorBluelight600: #0086c9;    
    --colorColorBluelight700: #026aa2;    
    --colorColorBluelight800: #065986;    
    --colorColorBluelight900: #0b4a6f;    
    --colorColorBluelight950: #062c41;    
    --colorColorBluelight025: #f5fbff;    
    --colorColorBluelight050: #f0f9ff;    
    --colorColorBlue100: #d1e9ff;    
    --colorColorBlue200: #b2ddff;    
    --colorColorBlue300: #84caff;    
    --colorColorBlue400: #53b1fd;    
    --colorColorBlue500: #2e90fa;    
    --colorColorBlue600: #1570ef;    
    --colorColorBlue700: #175cd3;    
    --colorColorBlue800: #1849a9;    
    --colorColorBlue900: #194185;    
    --colorColorBlue950: #102a56;    
    --colorColorBlue025: #f5faff;    
    --colorColorBlue050: #eff8ff;    
    --colorColorBluedark100: #d1e0ff;    
    --colorColorBluedark200: #b2ccff;    
    --colorColorBluedark300: #84adff;    
    --colorColorBluedark400: #528bff;    
    --colorColorBluedark500: #2970ff;    
    --colorColorBluedark600: #155eef;    
    --colorColorBluedark700: #004eeb;    
    --colorColorBluedark800: #0040c1;    
    --colorColorBluedark900: #00359e;    
    --colorColorBluedark950: #002266;    
    --colorColorBluedark025: #f5f8ff;    
    --colorColorBluedark050: #eff4ff;    
    --colorColorIndigo100: #e0eaff;    
    --colorColorIndigo200: #c7d7fe;    
    --colorColorIndigo300: #a4bcfd;    
    --colorColorIndigo400: #8098f9;    
    --colorColorIndigo500: #6172f3;    
    --colorColorIndigo600: #444ce7;    
    --colorColorIndigo700: #3538cd;    
    --colorColorIndigo800: #2d31a6;    
    --colorColorIndigo900: #2d3282;    
    --colorColorIndigo950: #1f235b;    
    --colorColorIndigo025: #f5f8ff;    
    --colorColorIndigo050: #eef4ff;    
    --colorColorViolet100: #ece9fe;    
    --colorColorViolet200: #ddd6fe;    
    --colorColorViolet300: #c3b5fd;    
    --colorColorViolet400: #a48afb;    
    --colorColorViolet500: #875bf7;    
    --colorColorViolet600: #7839ee;    
    --colorColorViolet700: #6927da;    
    --colorColorViolet800: #5720b7;    
    --colorColorViolet900: #491c96;    
    --colorColorViolet950: #2e125e;    
    --colorColorViolet025: #fbfaff;    
    --colorColorViolet050: #f5f3ff;    
    --colorColorPurple100: #ebe9fe;    
    --colorColorPurple200: #d9d6fe;    
    --colorColorPurple300: #bdb4fe;    
    --colorColorPurple400: #9b8afb;    
    --colorColorPurple500: #7a5af8;    
    --colorColorPurple600: #6938ef;    
    --colorColorPurple700: #5925dc;    
    --colorColorPurple800: #4a1fb8;    
    --colorColorPurple900: #3e1c96;    
    --colorColorPurple950: #27115f;    
    --colorColorPurple025: #fafaff;    
    --colorColorPurple050: #f4f3ff;    
    --colorColorFuchsia100: #fbe8ff;    
    --colorColorFuchsia200: #f6d0fe;    
    --colorColorFuchsia300: #eeaafd;    
    --colorColorFuchsia400: #e478fa;    
    --colorColorFuchsia500: #d444f1;    
    --colorColorFuchsia600: #ba24d5;    
    --colorColorFuchsia700: #9f1ab1;    
    --colorColorFuchsia800: #821890;    
    --colorColorFuchsia900: #6f1877;    
    --colorColorFuchsia950: #47104c;    
    --colorColorFuchsia025: #fefaff;    
    --colorColorFuchsia050: #fdf4ff;    
    --colorColorPink100: #fce7f6;    
    --colorColorPink200: #fcceee;    
    --colorColorPink300: #faa7e0;    
    --colorColorPink400: #f670c7;    
    --colorColorPink500: #ee46bc;    
    --colorColorPink600: #dd2590;    
    --colorColorPink700: #c11574;    
    --colorColorPink800: #9e165f;    
    --colorColorPink900: #851651;    
    --colorColorPink950: #4e0d30;    
    --colorColorPink025: #fef6fb;    
    --colorColorPink050: #fdf2fa;    
    --colorColorRose100: #ffe4e8;    
    --colorColorRose200: #fecdd6;    
    --colorColorRose300: #fea3b4;    
    --colorColorRose400: #fd6f8e;    
    --colorColorRose500: #f63d68;    
    --colorColorRose600: #e31b54;    
    --colorColorRose700: #c01048;    
    --colorColorRose800: #a11043;    
    --colorColorRose900: #89123e;    
    --colorColorRose950: #510b24;    
    --colorColorRose025: #fff5f6;    
    --colorColorRose050: #fff1f3;    
    --colorColorOrangedark100: #ffe6d5;    
    --colorColorOrangedark200: #ffd6ae;    
    --colorColorOrangedark300: #ff9c66;    
    --colorColorOrangedark400: #ff692e;    
    --colorColorOrangedark500: #ff4405;    
    --colorColorOrangedark600: #e62e05;    
    --colorColorOrangedark700: #bc1b06;    
    --colorColorOrangedark800: #97180c;    
    --colorColorOrangedark900: #771a0d;    
    --colorColorOrangedark950: #57130a;    
    --colorColorOrangedark025: #fff9f5;    
    --colorColorOrangedark050: #fff4ed;    
    --colorColorOrange100: #fdead7;    
    --colorColorOrange200: #f9dbaf;    
    --colorColorOrange300: #f7b27a;    
    --colorColorOrange400: #f38744;    
    --colorColorOrange500: #ef6820;    
    --colorColorOrange600: #e04f16;    
    --colorColorOrange700: #b93815;    
    --colorColorOrange800: #932f19;    
    --colorColorOrange900: #772917;    
    --colorColorOrange950: #511c10;    
    --colorColorOrange025: #fefaf5;    
    --colorColorOrange050: #fef6ee;    
    --colorColorYellow100: #fef7c3;    
    --colorColorYellow200: #feee95;    
    --colorColorYellow300: #fde272;    
    --colorColorYellow400: #fac515;    
    --colorColorYellow500: #eaaa08;    
    --colorColorYellow600: #ca8504;    
    --colorColorYellow700: #a15c07;    
    --colorColorYellow800: #854a0e;    
    --colorColorYellow900: #713b12;    
    --colorColorYellow950: #542c0d;    
    --colorColorYellow025: #fefdf0;    
    --colorColorYellow050: #fefbe8;    
    --colorColorAlphaBlack10: var(--colorColorBlack);    
    --colorColorAlphaBlack12: var(--colorColorBlack);    
    --colorColorAlphaBlack16: var(--colorColorBlack);    
    --colorColorAlphaBlack20: var(--colorColorBlack);    
    --colorColorAlphaBlack24: var(--colorColorBlack);    
    --colorColorAlphaBlack32: var(--colorColorBlack);    
    --colorColorAlphaBlack36: var(--colorColorBlack);    
    --colorColorAlphaBlack40: var(--colorColorBlack);    
    --colorColorAlphaBlack48: var(--colorColorBlack);    
    --colorColorAlphaBlack56: var(--colorColorBlack);    
    --colorColorAlphaBlack64: var(--colorColorBlack);    
    --colorColorAlphaBlack68: var(--colorColorBlack);    
    --colorColorAlphaBlack72: var(--colorColorBlack);    
    --colorColorAlphaBlack76: var(--colorColorBlack);    
    --colorColorAlphaBlack80: var(--colorColorBlack);    
    --colorColorAlphaBlack86: var(--colorColorBlack);    
    --colorColorAlphaBlack90: var(--colorColorBlack);    
    --colorColorAlphaBlack94: var(--colorColorBlack);    
    --colorColorAlphaBlack98: var(--colorColorBlack);    
    --colorColorAlphaBlack02: var(--colorColorBlack);    
    --colorColorAlphaBlack04: var(--colorColorBlack);    
    --colorColorAlphaBlack06: var(--colorColorBlack);    
    --colorColorAlphaBlack08: var(--colorColorBlack);    
    --colorColorAlphaWhite10: var(--colorColorWhite);    
    --colorColorAlphaWhite12: var(--colorColorWhite);    
    --colorColorAlphaWhite16: var(--colorColorWhite);    
    --colorColorAlphaWhite20: var(--colorColorWhite);    
    --colorColorAlphaWhite24: var(--colorColorWhite);    
    --colorColorAlphaWhite32: var(--colorColorWhite);    
    --colorColorAlphaWhite36: var(--colorColorWhite);    
    --colorColorAlphaWhite40: var(--colorColorWhite);    
    --colorColorAlphaWhite48: var(--colorColorWhite);    
    --colorColorAlphaWhite56: var(--colorColorWhite);    
    --colorColorAlphaWhite64: var(--colorColorWhite);    
    --colorColorAlphaWhite68: var(--colorColorWhite);    
    --colorColorAlphaWhite72: var(--colorColorWhite);    
    --colorColorAlphaWhite76: var(--colorColorWhite);    
    --colorColorAlphaWhite80: var(--colorColorWhite);    
    --colorColorAlphaWhite86: var(--colorColorWhite);    
    --colorColorAlphaWhite90: var(--colorColorWhite);    
    --colorColorAlphaWhite94: var(--colorColorWhite);    
    --colorColorAlphaWhite98: var(--colorColorWhite);    
    --colorColorAlphaWhite02: var(--colorColorWhite);    
    --colorColorAlphaWhite04: var(--colorColorWhite);    
    --colorColorAlphaWhite06: var(--colorColorWhite);    
    --colorColorAlphaWhite08: var(--colorColorWhite);    
    --colorColorAccent100: var(--colorColorAmber100);    
    --colorColorAccent200: var(--colorColorAmber200);    
    --colorColorAccent300: var(--colorColorAmber300);    
    --colorColorAccent400: var(--colorColorAmber400);    
    --colorColorAccent500: var(--colorColorAmber500);    
    --colorColorAccent600: var(--colorColorAmber600);    
    --colorColorAccent700: var(--colorColorAmber700);    
    --colorColorAccent800: var(--colorColorAmber800);    
    --colorColorAccent900: var(--colorColorAmber900);    
    --colorColorAccent950: var(--colorColorAmber950);    
    --colorColorAccent025: var(--colorColorAmber025);    
    --colorColorAccent050: var(--colorColorAmber050);    
    --colorColorSecondary100: var(--colorColorGrayiron100);    
    --colorColorSecondary200: var(--colorColorGrayiron200);    
    --colorColorSecondary300: var(--colorColorGrayiron300);    
    --colorColorSecondary400: var(--colorColorGrayiron400);    
    --colorColorSecondary500: var(--colorColorGrayiron500);    
    --colorColorSecondary600: var(--colorColorGrayiron600);    
    --colorColorSecondary700: var(--colorColorGrayiron700);    
    --colorColorSecondary800: var(--colorColorGrayiron800);    
    --colorColorSecondary900: var(--colorColorGrayiron900);    
    --colorColorSecondary950: var(--colorColorGrayiron950);    
    --colorColorSecondary025: var(--colorColorGrayiron025);    
    --colorColorSecondary050: var(--colorColorGrayiron050);    
    --colorColorNeutral100: var(--colorColorGrayiron100);    
    --colorColorNeutral200: var(--colorColorGrayiron200);    
    --colorColorNeutral300: var(--colorColorGrayiron300);    
    --colorColorNeutral400: var(--colorColorGrayiron400);    
    --colorColorNeutral500: var(--colorColorGrayiron500);    
    --colorColorNeutral600: var(--colorColorGrayiron600);    
    --colorColorNeutral700: var(--colorColorGrayiron700);    
    --colorColorNeutral800: var(--colorColorGrayiron800);    
    --colorColorNeutral900: var(--colorColorGrayiron900);    
    --colorColorNeutral950: var(--colorColorGrayiron950);    
    --colorColorNeutral025: var(--colorColorGrayiron025);    
    --colorColorNeutral050: var(--colorColorGrayiron050);    
    --colorColorLayoutBackgroundDefault: var(--colorColorNeutral050);    
    --colorColorLayoutBackgroundHover: var(--colorColorNeutral100);    
    --colorColorLayoutBackgroundPressed: var(--colorColorNeutral200);    
    --colorColorLayoutBackgroundFocused: var(--colorColorNeutral050);    
    --colorColorLayoutBackgroundSelected: var(--colorColorNeutral050);    
    --colorColorLayoutBackgroundSelectedHover: var(--colorColorNeutral100);    
    --colorColorLayoutBackgroundInverse: var(--colorColorNeutral900);    
    --colorColorLayoutBackgroundInverseHover: var(--colorColorNeutral800);    
    --colorColorLayoutBackgroundAccent: var(--colorColorAccent200);    
    /* Body background */
    --colorColorLayoutLayer100Default: var(--colorColorWhite);    
    --colorColorLayoutLayer100Hover: var(--colorColorNeutral050);    
    --colorColorLayoutLayer100Presed: var(--colorColorNeutral100);    
    --colorColorLayoutLayer100Focused: var(--colorColorWhite);    
    --colorColorLayoutLayer100Selected: var(--colorColorWhite);    
    --colorColorLayoutLayer100SelectedHover: var(--colorColorNeutral050);    
    --colorColorLayoutLayer100Inverse: var(--colorColorNeutral950);    
    --colorColorLayoutLayer100InverseHover: var(--colorColorNeutral900);    
    --colorColorLayoutLayer200Default: var(--colorColorNeutral050);    
    --colorColorLayoutLayer200Hover: var(--colorColorNeutral100);    
    --colorColorLayoutLayer200Presed: var(--colorColorNeutral200);    
    --colorColorLayoutLayer200Focused: var(--colorColorNeutral050);    
    --colorColorLayoutLayer200Selected: var(--colorColorNeutral050);    
    --colorColorLayoutLayer200SelectedHover: var(--colorColorNeutral100);    
    --colorColorLayoutLayer200Inverse: var(--colorColorNeutral900);    
    --colorColorLayoutLayer200InverseHover: var(--colorColorNeutral800);    
    --colorColorLayoutLayer300Default: var(--colorColorNeutral100);    
    --colorColorLayoutLayer300Hover: var(--colorColorNeutral200);    
    --colorColorLayoutLayer300Presed: var(--colorColorNeutral300);    
    --colorColorLayoutLayer300Focused: var(--colorColorNeutral100);    
    --colorColorLayoutLayer300Selected: var(--colorColorNeutral100);    
    --colorColorLayoutLayer300SelectedHover: var(--colorColorNeutral200);    
    --colorColorLayoutLayer300Inverse: var(--colorColorNeutral800);    
    --colorColorLayoutLayer300InverseHover: var(--colorColorNeutral700);    
    --colorColorLayoutOverlay: var(--colorColorAlphaBlack24);    
    --colorColorLayoutTransparent: var(--colorColorAlphaWhite56);    
    --colorColorLayoutDisabled: var(--colorColorNeutral200);    
    --colorColorGlyphsPrinary: var(--colorColorBlack);    
    --colorColorGlyphsSecondary: var(--colorColorNeutral700);    
    --colorColorGlyphsTertiary: var(--colorColorNeutral500);    
    --colorColorGlyphsPlaceholder: var(--colorColorNeutral300);    
    --colorColorGlyphsWhite: var(--colorColorWhite);    
    --colorColorGlyphsDisabled: var(--colorColorNeutral400);    
    --colorColorGlyphsSupportAccent: var(--colorColorAccent600);    
    --colorColorGlyphsSupportLink: var(--colorColorBlue600);    
    --colorColorGlyphsSupportSuccess: var(--colorColorGreen600);    
    --colorColorGlyphsSupportCaution: var(--colorColorOrange600);    
    --colorColorGlyphsSupportCritical: var(--colorColorRed600);    
    --colorColorBorderStrong: var(--colorColorBlack);    
    --colorColorBorderMedium: var(--colorColorBorderStrong);    
    --colorColorBorderRegular: var(--colorColorBorderStrong);    
    --colorColorBorderDisabled: var(--colorColorBorderStrong);    
    --colorColorBorderWhite: var(--colorColorWhite);    
    --colorColorBorderSupportAccent: var(--colorColorAccent500);    
    --colorColorBorderSupportSuccess: var(--colorColorGreen700);    
    --colorColorBorderSupportCaution: var(--colorColorOrange700);    
    --colorColorBorderSupportCritical: var(--colorColorRed700);    
    --colorColorButtonPrimaryDefault: var(--colorColorAccent500);    
    --colorColorButtonPrimaryHover: var(--colorColorAccent600);    
    --colorColorButtonPrimaryPresed: var(--colorColorAccent700);    
    --colorColorButtonPrimaryFocused: var(--colorColorAccent500);    
    --colorColorButtonPrimarySelected: var(--colorColorAccent400);    
    --colorColorButtonPrimarySelectedHover: var(--colorColorAccent500);    
    --colorColorButtonPrimaryAlpha16: var(--colorColorAccent500);    
    --colorColorButtonSecondaryDefault: var(--colorColorSecondary500);    
    --colorColorButtonSecondaryHover: var(--colorColorSecondary600);    
    --colorColorButtonSecondaryPresed: var(--colorColorSecondary700);    
    --colorColorButtonSecondaryFocused: var(--colorColorSecondary500);    
    --colorColorButtonSecondarySelected: var(--colorColorSecondary400);    
    --colorColorButtonSecondarySelectedHover: var(--colorColorSecondary500);    
    --colorColorButtonSecondaryAlpha16: var(--colorColorSecondary500);    
    --colorColorButtonCriticalDefault: var(--colorColorRed500);    
    --colorColorButtonCriticalHover: var(--colorColorRed600);    
    --colorColorButtonCriticalPresed: var(--colorColorRed700);    
    --colorColorButtonCriticalFocused: var(--colorColorRed500);    
    --colorColorButtonCriticalSelected: var(--colorColorRed400);    
    --colorColorButtonCriticalSelectedHover: var(--colorColorRed500);    
    --colorColorButtonCriticalAlpha16: var(--colorColorRed500);    
    --colorColorButtonDisabled: var(--colorColorNeutral200);    
    --colorColorLinkDefault: var(--colorColorAccent500);    
    --colorColorLinkHover: var(--colorColorAccent600);    
    --colorColorLinkFocused: var(--colorColorAccent500);    
    --colorColorLinkPressed: var(--colorColorAccent600);    
    --colorColorLinkVisited: var(--colorColorFuchsia700);    
    --colorColorLinkDisabled: var(--colorColorNeutral400);    
}