
:root {
    --measureDimensionAlpha0: 0px;    
    --measureDimensionAlpha1: 1px;    
    --measureDimensionAlpha002: 0.02px;    
    --measureDimensionAlpha004: 0.04px;    
    --measureDimensionAlpha006: 0.06px;    
    --measureDimensionAlpha008: 0.08px;    
    --measureDimensionAlpha010: 0.1px;    
    --measureDimensionAlpha012: 0.12px;    
    --measureDimensionAlpha016: 0.16px;    
    --measureDimensionAlpha020: 0.2px;    
    --measureDimensionAlpha024: 0.24px;    
    --measureDimensionAlpha032: 0.32px;    
    --measureDimensionAlpha036: 0.36px;    
    --measureDimensionAlpha040: 0.4px;    
    --measureDimensionAlpha048: 0.48px;    
    --measureDimensionAlpha056: 0.56px;    
    --measureDimensionAlpha064: 0.64px;    
    --measureDimensionAlpha068: 0.68px;    
    --measureDimensionAlpha072: 0.72px;    
    --measureDimensionAlpha076: 0.76px;    
    --measureDimensionAlpha080: 0.8px;    
    --measureDimensionAlpha086: 0.86px;    
    --measureDimensionAlpha090: 0.9px;    
    --measureDimensionAlpha094: 0.94px;    
    --measureDimensionAlpha098: 0.98px;    
    --measureDimensionAngless0: 0px;    
    --measureDimensionAngless45: 45px;    
    --measureDimensionAngless90: 90px;    
    --measureDimensionAngless180: 180px;    
    --measureDimensionAngless225: 225px;    
    --measureDimensionAngless270: 270px;    
    --measureDimensionGradientstops0: 0px;    
    --measureDimensionGradientstops20: 20px;    
    --measureDimensionGradientstops40: 40px;    
    --measureDimensionGradientstops50: 50px;    
    --measureDimensionGradientstops60: 60px;    
    --measureDimensionGradientstops80: 80px;    
    --measureDimensionGradientstops100: 100px;    
    --measureDimensionAxis0: 0px;    
    --measureDimensionAxis1: 1px;    
    --measureDimensionAxis2: 2px;    
    --measureDimensionAxis4: 4px;    
    --measureDimensionAxis8: 8px;    
    --measureDimensionAxis12: 12px;    
    --measureDimensionAxis16: 16px;    
    --measureDimensionAxis24: 24px;    
    --measureDimensionAxis32: 32px;    
    --measureDimensionAxis48: 48px;    
    --measureDimensionAxis64: 64px;    
    --measureDimensionSpread0: 0px;    
    --measureDimensionSpread1: 1px;    
    --measureDimensionSpread2: 2px;    
    --measureDimensionSpread3: 3px;    
    --measureDimensionSpread4: 4px;    
    --measureDimensionSpread8: 8px;    
    --measureDimensionSpreadNeg1: -1px;    
    --measureDimensionSpreadNeg2: -2px;    
    --measureDimensionSpreadNeg4: -4px;    
    --measureDimensionSpreadNeg12: -12px;    
    --measureDimensionBlur0: 0px;    
    --measureDimensionBlur1: 1px;    
    --measureDimensionBlur2: 2px;    
    --measureDimensionBlur4: 4px;    
    --measureDimensionBlur6: 6px;    
    --measureDimensionBlur8: 8px;    
    --measureDimensionBlur10: 10px;    
    --measureDimensionBlur12: 12px;    
    --measureDimensionBlur16: 16px;    
    --measureDimensionBlur24: 24px;    
    --measureDimensionBlur32: 32px;    
    --measureDimensionBlur48: 48px;    
    --measureDimensionBlur64: 64px;    
    --measureDimensionBlur80: 80px;    
    --measureDimensionBlur124: 124px;    
    --measureDimensionDimensionBackgroundblur0: 0px;    
    --measureDimensionDimensionBackgroundblur1: 1px;    
    --measureDimensionDimensionBackgroundblur2: 2px;    
    --measureDimensionDimensionBackgroundblur4: 4px;    
    --measureDimensionDimensionBackgroundblur8: 8px;    
    --measureDimensionDimensionBackgroundblur16: 16px;    
    --measureDimensionDimensionBackgroundblur24: 24px;    
    --measureDimensionDimensionBackgroundblur32: 32px;    
    --measureDimensionDimensionBackgroundblur48: 48px;    
    --measureDimensionDimensionBackgroundblur80: 80px;    
    --measureDimensionDimensionScale2: 0.125px;    
    --measureDimensionDimensionScale4: 0.25px;    
    --measureDimensionDimensionScale6: 0.375px;    
    --measureDimensionDimensionScale8: 0.5px;    
    --measureDimensionDimensionScale10: 0.625px;    
    --measureDimensionDimensionScale12: 0.75px;    
    --measureDimensionDimensionScale14: 0.875px;    
    --measureDimensionDimensionScale16: 1px;    
    --measureDimensionDimensionScale18: 1.125px;    
    --measureDimensionDimensionScale20: 1.25px;    
    --measureDimensionDimensionScale22: 1.375px;    
    --measureDimensionDimensionScale24: 1.5px;    
    --measureDimensionDimensionScale26: 1.625px;    
    --measureDimensionDimensionScale28: 1.75px;    
    --measureDimensionDimensionScale32: 2px;    
    --measureDimensionDimensionScale36: 2.25px;    
    --measureDimensionDimensionScale40: 2.5px;    
    --measureDimensionDimensionScale42: 2.625px;    
    --measureDimensionDimensionScale44: 2.75px;    
    --measureDimensionDimensionScale48: 3px;    
    --measureDimensionDimensionScale54: 3.375px;    
    --measureDimensionDimensionScale56: 3.5px;    
    --measureDimensionDimensionScale60: 3.75px;    
    --measureDimensionDimensionScale64: 4px;    
    --measureDimensionDimensionScale68: 4.25px;    
    --measureDimensionDimensionScale72: 4.5px;    
    --measureDimensionDimensionScale76: 4.75px;    
    --measureDimensionDimensionScale80: 5px;    
    --measureDimensionDimensionScale84: 5.25px;    
    --measureDimensionDimensionScale92: 5.75px;    
    --measureDimensionDimensionScale96: 6px;    
    --measureDimensionDimensionScale128: 8px;    
    --measureDimensionDimensionScale160: 10px;    
    --measureDimensionDimensionScale192: 12px;    
    --measureDimensionDimensionScale224: 14px;    
    --measureDimensionDimensionScale256: 16px;    
    --measureDimensionDimensionScale320: 20px;    
    --measureDimensionDimensionScale375: 23.438px;    
    --measureDimensionDimensionScale384: 24px;    
    --measureDimensionDimensionScale480: 30px;    
    --measureDimensionDimensionScale560: 35px;    
    --measureDimensionDimensionScale640: 40px;    
    --measureDimensionDimensionScale720: 45px;    
    --measureDimensionDimensionScale768: 48px;    
    --measureDimensionDimensionScale1024: 64px;    
    --measureDimensionDimensionScale1280: 80px;    
    --measureDimensionDimensionScale1440: 90px;    
    --measureDimensionDimensionScale1600: 100px;    
    --measureDimensionDimensionScale1920: 120px;    
    --measureDimensionBorderstyleSolid: 0px;    
    --measureDimensionBorderstyleDashed: 0px;    
    --measureBorderWidthBorderWidthBorderwidth0: 0px;    
    --measureBorderWidthBorderWidthBorderwidth1: 1px;    
    --measureBorderWidthBorderWidthBorderwidth2: 2px;    
    --measureBorderWidthBorderWidthBorderwidth4: 4px;    
    --measureBorderWidthBorderWidthBorderwidth02: 0.2px;    
    --measureBorderWidthBorderWidthBorderwidth05: 0.5px;    
    --measureSpacingSpacingSpacing0: 0em;    
    --measureSpacingSpacingSpacing2: 0.125em;    
    --measureSpacingSpacingSpacing4: 0.25em;    
    --measureSpacingSpacingSpacing6: 0.375em;    
    --measureSpacingSpacingSpacing8: 0.5em;    
    --measureSpacingSpacingSpacing10: 0.625em;    
    --measureSpacingSpacingSpacing12: 0.75em;    
    --measureSpacingSpacingSpacing14: 0.875em;    
    --measureSpacingSpacingSpacing16: 1em;    
    --measureSpacingSpacingSpacing18: 1.125em;    
    --measureSpacingSpacingSpacing20: 1.25em;    
    --measureSpacingSpacingSpacing22: 1.375em;    
    --measureSpacingSpacingSpacing24: 1.5em;    
    --measureSpacingSpacingSpacing26: 1.625em;    
    --measureSpacingSpacingSpacing28: 1.75em;    
    --measureSpacingSpacingSpacing32: 2em;    
    --measureSpacingSpacingSpacing36: 2.25em;    
    --measureSpacingSpacingSpacing40: 2.5em;    
    --measureSpacingSpacingSpacing42: 2.625em;    
    --measureSpacingSpacingSpacing44: 2.75em;    
    --measureSpacingSpacingSpacing48: 3em;    
    --measureSpacingSpacingSpacing54: 3.375em;    
    --measureSpacingSpacingSpacing56: 3.5em;    
    --measureSpacingSpacingSpacing60: 3.75em;    
    --measureSpacingSpacingSpacing64: 4em;    
    --measureSpacingSpacingSpacing68: 4.25em;    
    --measureSpacingSpacingSpacing72: 4.5em;    
    --measureSpacingSpacingSpacing76: 4.75em;    
    --measureSpacingSpacingSpacing80: 5em;    
    --measureSpacingSpacingSpacing84: 5.25em;    
    --measureSpacingSpacingSpacing92: 5.75em;    
    --measureSpacingSpacingSpacing96: 6em;    
    --measureSpacingSpacingSpacing128: 8em;    
    --measureSpacingSpacingSpacing160: 10em;    
    --measureSpacingSpacingSpacing192: 12em;    
    --measureSpacingSpacingSpacing224: 14em;    
    --measureSpacingSpacingSpacing256: 16em;    
    --measureSpacingSpacingSpacing320: 20em;    
    --measureSpacingSpacingSpacing375: 23.438em;    
    --measureSpacingSpacingSpacing384: 24em;    
    --measureSpacingSpacingSpacing480: 30em;    
    --measureSpacingSpacingSpacing560: 35em;    
    --measureSpacingSpacingSpacing640: 40em;    
    --measureSpacingSpacingSpacing720: 45em;    
    --measureSpacingSpacingSpacing768: 48em;    
    --measureSpacingSpacingSpacing1024: 64em;    
    --measureSpacingSpacingSpacing1280: 80em;    
    --measureSpacingSpacingSpacing1440: 90em;    
    --measureSpacingSpacingSpacing1600: 100em;    
    --measureSpacingSpacingSpacing1920: 120em;    
    --measureFontSizingFontSizeBaserem: 16px;    
    --measureFontSizingFontSizeFontsizes8: 0.5em;    
    --measureFontSizingFontSizeFontsizes10: 0.625em;    
    --measureFontSizingFontSizeFontsizes12: 0.75em;    
    --measureFontSizingFontSizeFontsizes14: 0.875em;    
    --measureFontSizingFontSizeFontsizes16: 1em;    
    --measureFontSizingFontSizeFontsizes18: 1.125em;    
    --measureFontSizingFontSizeFontsizes20: 1.25em;    
    --measureFontSizingFontSizeFontsizes24: 1.5em;    
    --measureFontSizingFontSizeFontsizes32: 2em;    
    --measureFontSizingFontSizeFontsizes36: 2.25em;    
    --measureFontSizingFontSizeFontsizes48: 3em;    
    --measureFontSizingFontSizeFontsizes60: 3.75em;    
    --measureFontSizingFontSizeFontsizes72: 4.5em;    
    --measureLetterSpacingLetterSpacingLetterspacing0: 0px;    
    /* 0.16px */
    --measureLetterSpacingLetterSpacingLetterspacingNeg16: -1%;    
    /* 0.24px */
    --measureLetterSpacingLetterSpacingLetterspacingNeg24: -1.4%;    
    /* 0.32px */
    --measureLetterSpacingLetterSpacingLetterspacingNeg32: -2%;    
    /* 0.64px */
    --measureLetterSpacingLetterSpacingLetterspacingNeg64: -4%;    
    /* 0.16px */
    --measureLetterSpacingLetterSpacingLetterspacingPt16: 1%;    
    /* 0.24px */
    --measureLetterSpacingLetterSpacingLetterspacingPt24: 1.4%;    
    /* 0.32px */
    --measureLetterSpacingLetterSpacingLetterspacingPt32: 2%;    
    /* 0.64px */
    --measureLetterSpacingLetterSpacingLetterspacingPt64: 4%;    
    --measureParagraphSpacingParagraphSpacingParagraphspacing0: 0px;    
    --measureOpacityOpacityOpacity0: 0%;    
    --measureOpacityOpacityOpacity1: 100%;    
    --measureOpacityOpacityOpacity002: 2%;    
    --measureOpacityOpacityOpacity004: 4%;    
    --measureOpacityOpacityOpacity006: 6%;    
    --measureOpacityOpacityOpacity008: 8%;    
    --measureOpacityOpacityOpacity010: 10%;    
    --measureOpacityOpacityOpacity012: 12%;    
    --measureOpacityOpacityOpacity016: 16%;    
    --measureOpacityOpacityOpacity020: 20%;    
    --measureOpacityOpacityOpacity024: 24%;    
    --measureOpacityOpacityOpacity032: 32%;    
    --measureOpacityOpacityOpacity036: 36%;    
    --measureOpacityOpacityOpacity040: 40%;    
    --measureOpacityOpacityOpacity048: 48%;    
    --measureOpacityOpacityOpacity056: 56.00000000000001%;    
    --measureOpacityOpacityOpacity064: 64%;    
    --measureOpacityOpacityOpacity068: 68%;    
    --measureOpacityOpacityOpacity072: 72%;    
    --measureOpacityOpacityOpacity076: 76%;    
    --measureOpacityOpacityOpacity080: 80%;    
    --measureOpacityOpacityOpacity086: 86%;    
    --measureOpacityOpacityOpacity090: 90%;    
    --measureOpacityOpacityOpacity094: 94%;    
    --measureOpacityOpacityOpacity098: 98%;    
    --measureLineHeightLineHeightLineheights8: 0.625em;    
    --measureLineHeightLineHeightLineheights10: 0.75em;    
    --measureLineHeightLineHeightLineheights12: 1em;    
    --measureLineHeightLineHeightLineheights14: 1.25em;    
    --measureLineHeightLineHeightLineheights16: 1.5em;    
    --measureLineHeightLineHeightLineheights18: 1.75em;    
    --measureLineHeightLineHeightLineheights20: 2em;    
    --measureLineHeightLineHeightLineheights24: 2.25em;    
    --measureLineHeightLineHeightLineheights32: 2.625em;    
    --measureLineHeightLineHeightLineheights36: 3em;    
    --measureLineHeightLineHeightLineheights48: 3.375em;    
    --measureLineHeightLineHeightLineheights60: 4.5em;    
    --measureLineHeightLineHeightLineheights72: 5em;    
    --measureSizingSizingSizingLinkIconSm: 0.625em;    
    --measureSizingSizingSizingLinkIconMd: 0.875em;    
    --measureSizingSizingSizingLinkIconLg: 1em;    
    --measureSizingSizingSizingLinkIconXl: 1.25em;    
    --measureSizingSizingSizingButtonIconSm: 0.75em;    
    --measureSizingSizingSizingButtonIconMd: 0.75em;    
    --measureSizingSizingSizingButtonIconLg: 1em;    
    --measureSizingSizingSizingButtonIconXl: 1em;    
    --measureSizingSizingSizingButtonIcon2xl: 1.25em;    
    --measureSizingSizingSizingButtonLayoutSmMinw: 4.5em;    
    --measureSizingSizingSizingButtonLayoutSmMaxw: 12em;    
    --measureSizingSizingSizingButtonLayoutSmMinh: 1.5em;    
    --measureSizingSizingSizingButtonLayoutMdMinw: 6em;    
    --measureSizingSizingSizingButtonLayoutMdMaxw: 12em;    
    --measureSizingSizingSizingButtonLayoutMdMinh: 2em;    
    --measureSizingSizingSizingButtonLayoutLgMinw: 6em;    
    --measureSizingSizingSizingButtonLayoutLgMaxw: 16em;    
    --measureSizingSizingSizingButtonLayoutLgMinh: 2.5em;    
    --measureSizingSizingSizingButtonLayoutXlMinw: 6em;    
    --measureSizingSizingSizingButtonLayoutXlMaxw: 16em;    
    --measureSizingSizingSizingButtonLayoutXlMinh: 3em;    
    --measureSizingSizingSizingButtonLayout2xlMinw: 8em;    
    --measureSizingSizingSizingButtonLayout2xlMaxw: 16em;    
    --measureSizingSizingSizingButtonLayout2xlMinh: 4em;    
    --measureBorderRadiusBorderRadiusBorderradius0: 0em;    
    --measureBorderRadiusBorderRadiusBorderradiusFull: 9999em;    
    --measureBorderRadiusBorderRadiusBorderradius2: 0.125em;    
    --measureBorderRadiusBorderRadiusBorderradius4: 0.25em;    
    --measureBorderRadiusBorderRadiusBorderradius6: 0.375em;    
    --measureBorderRadiusBorderRadiusBorderradius8: 0.5em;    
    --measureBorderRadiusBorderRadiusBorderradius10: 0.625em;    
    --measureBorderRadiusBorderRadiusBorderradius12: 0.75em;    
    --measureBorderRadiusBorderRadiusBorderradius16: 1em;    
    --measureBorderRadiusBorderRadiusBorderradius20: 1.25em;    
    --measureBorderRadiusBorderRadiusBorderradius24: 1.5em;    
    --measureBorderRadiusBorderRadiusBorderradius32: 2em;    
    --measureBorderRadiusBorderRadiusBorderradius48: 3em;    
    --measureBorderRadiusBorderRadiusBorderradius64: 4em;    
    --measureBorderRadiusBorderRadiusBorderradius128: 8em;    
    --measureSpacingSpacingSpacingLinkSmPaddingHeight: var(--measureSpacingSpacingSpacing0);    
    --measureSpacingSpacingSpacingLinkSmPaddingWidth: var(--measureSpacingSpacingSpacing2);    
    --measureSpacingSpacingSpacingLinkSmPaddingGap: var(--measureSpacingSpacingSpacing4);    
    --measureSpacingSpacingSpacingLinkMdPaddingHeight: var(--measureSpacingSpacingSpacing0);    
    --measureSpacingSpacingSpacingLinkMdPaddingWidth: var(--measureSpacingSpacingSpacing2);    
    --measureSpacingSpacingSpacingLinkMdPaddingGap: var(--measureSpacingSpacingSpacing6);    
    --measureSpacingSpacingSpacingLinkLgPaddingHeight: var(--measureSpacingSpacingSpacing0);    
    --measureSpacingSpacingSpacingLinkLgPaddingWidth: var(--measureSpacingSpacingSpacing2);    
    --measureSpacingSpacingSpacingLinkLgPaddingGap: var(--measureSpacingSpacingSpacing8);    
    --measureSpacingSpacingSpacingLinkXlPaddingHeight: var(--measureSpacingSpacingSpacing0);    
    --measureSpacingSpacingSpacingLinkXlPaddingWidth: var(--measureSpacingSpacingSpacing2);    
    --measureSpacingSpacingSpacingLinkXlPaddingGap: var(--measureSpacingSpacingSpacing10);    
    --measureSpacingSpacingSpacingButtonSmPaddingHeight: var(--measureSpacingSpacingSpacing4);    
    --measureSpacingSpacingSpacingButtonSmPaddingWidth: var(--measureSpacingSpacingSpacing8);    
    --measureSpacingSpacingSpacingButtonSmPaddingGap: var(--measureSpacingSpacingSpacing4);    
    --measureSpacingSpacingSpacingButtonSmIconOnly: var(--measureSpacingSpacingSpacing6);    
    --measureSpacingSpacingSpacingButtonMdPaddingHeight: var(--measureSpacingSpacingSpacing8);    
    --measureSpacingSpacingSpacingButtonMdPaddingWidth: var(--measureSpacingSpacingSpacing16);    
    --measureSpacingSpacingSpacingButtonMdPaddingGap: var(--measureSpacingSpacingSpacing8);    
    --measureSpacingSpacingSpacingButtonMdIconOnly: var(--measureSpacingSpacingSpacing10);    
    --measureSpacingSpacingSpacingButtonLgPaddingHeight: var(--measureSpacingSpacingSpacing10);    
    --measureSpacingSpacingSpacingButtonLgPaddingWidth: var(--measureSpacingSpacingSpacing20);    
    --measureSpacingSpacingSpacingButtonLgPaddingGap: var(--measureSpacingSpacingSpacing12);    
    --measureSpacingSpacingSpacingButtonLgIconOnly: var(--measureSpacingSpacingSpacing12);    
    --measureSpacingSpacingSpacingButtonXlPaddingHeight: var(--measureSpacingSpacingSpacing14);    
    --measureSpacingSpacingSpacingButtonXlPaddingWidth: var(--measureSpacingSpacingSpacing24);    
    --measureSpacingSpacingSpacingButtonXlPaddingGap: var(--measureSpacingSpacingSpacing12);    
    --measureSpacingSpacingSpacingButtonXlIconOnly: var(--measureSpacingSpacingSpacing16);    
    --measureSpacingSpacingSpacingButton2xlPaddingHeight: var(--measureSpacingSpacingSpacing20);    
    --measureSpacingSpacingSpacingButton2xlPaddingWidth: var(--measureSpacingSpacingSpacing32);    
    --measureSpacingSpacingSpacingButton2xlPaddingGap: var(--measureSpacingSpacingSpacing16);    
    --measureSpacingSpacingSpacingButton2xlIconOnly: var(--measureSpacingSpacingSpacing22);    
    --measureSizingSizingSizingButtonLayoutSmMaxh: var(--measureSizingSizingSizingButtonLayoutSmMinh);    
    --measureSizingSizingSizingButtonLayoutSmIcon: var(--measureSizingSizingSizingButtonLayoutSmMinh);    
    --measureSizingSizingSizingButtonLayoutMdMaxh: var(--measureSizingSizingSizingButtonLayoutMdMinh);    
    --measureSizingSizingSizingButtonLayoutMdIcon: var(--measureSizingSizingSizingButtonLayoutMdMinh);    
    --measureSizingSizingSizingButtonLayoutLgMaxh: var(--measureSizingSizingSizingButtonLayoutLgMinh);    
    --measureSizingSizingSizingButtonLayoutLgIcon: var(--measureSizingSizingSizingButtonLayoutLgMinh);    
    --measureSizingSizingSizingButtonLayoutXlMaxh: var(--measureSizingSizingSizingButtonLayoutXlMinh);    
    --measureSizingSizingSizingButtonLayoutXlIcon: var(--measureSizingSizingSizingButtonLayoutXlMinh);    
    --measureSizingSizingSizingButtonLayout2xlMaxh: var(--measureSizingSizingSizingButtonLayout2xlMinh);    
    --measureSizingSizingSizingButtonLayout2xlIcon: var(--measureSizingSizingSizingButtonLayout2xlMinh);    
    --measureBorderRadiusBorderRadiusBorderradiusButtonSm: var(--measureBorderRadiusBorderRadiusBorderradius6);    
    --measureBorderRadiusBorderRadiusBorderradiusButtonMd: var(--measureBorderRadiusBorderRadiusBorderradius8);    
    --measureBorderRadiusBorderRadiusBorderradiusButtonLg: var(--measureBorderRadiusBorderRadiusBorderradius10);    
    --measureBorderRadiusBorderRadiusBorderradiusButtonXl: var(--measureBorderRadiusBorderRadiusBorderradius12);    
    --measureBorderRadiusBorderRadiusBorderradiusButton2xl: var(--measureBorderRadiusBorderRadiusBorderradius16);    
    --measureBorderRadiusBorderRadiusBorderradiusLinkSm: var(--measureBorderRadiusBorderRadiusBorderradius0);    
    --measureBorderRadiusBorderRadiusBorderradiusLinkMd: var(--measureBorderRadiusBorderRadiusBorderradius0);    
    --measureBorderRadiusBorderRadiusBorderradiusLinkLg: var(--measureBorderRadiusBorderRadiusBorderradius0);    
    --measureBorderRadiusBorderRadiusBorderradiusLinkXl: var(--measureBorderRadiusBorderRadiusBorderradius0);    
}