.typographyTypographyDisplaylRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes72);
  line-height: var(--measureLineHeightLineHeightLineheights72);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplaylMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes72);
  line-height: var(--measureLineHeightLineHeightLineheights72);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplaylSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes72);
  line-height: var(--measureLineHeightLineHeightLineheights72);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplaylBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes72);
  line-height: var(--measureLineHeightLineHeightLineheights72);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplaymRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes60);
  line-height: var(--measureLineHeightLineHeightLineheights60);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplaymMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes60);
  line-height: var(--measureLineHeightLineHeightLineheights60);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplaymSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes60);
  line-height: var(--measureLineHeightLineHeightLineheights60);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplaymBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes60);
  line-height: var(--measureLineHeightLineHeightLineheights60);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyDisplaysRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes48);
  line-height: var(--measureLineHeightLineHeightLineheights48);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyDisplaysMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes48);
  line-height: var(--measureLineHeightLineHeightLineheights48);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyDisplaysSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes48);
  line-height: var(--measureLineHeightLineHeightLineheights48);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyDisplaysBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes48);
  line-height: var(--measureLineHeightLineHeightLineheights48);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTitlelRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes32);
  line-height: var(--measureLineHeightLineHeightLineheights32);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTitlelMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes32);
  line-height: var(--measureLineHeightLineHeightLineheights32);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTitlelSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes32);
  line-height: var(--measureLineHeightLineHeightLineheights32);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTitlelBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes32);
  line-height: var(--measureLineHeightLineHeightLineheights32);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTitlemRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes24);
  line-height: var(--measureLineHeightLineHeightLineheights24);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTitlemMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes24);
  line-height: var(--measureLineHeightLineHeightLineheights24);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTitlemSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes24);
  line-height: var(--measureLineHeightLineHeightLineheights24);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTitlemBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes24);
  line-height: var(--measureLineHeightLineHeightLineheights24);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTitlesRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes20);
  line-height: var(--measureLineHeightLineHeightLineheights20);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTitlesMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes20);
  line-height: var(--measureLineHeightLineHeightLineheights20);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTitlesSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes20);
  line-height: var(--measureLineHeightLineHeightLineheights20);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTitlesBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes20);
  line-height: var(--measureLineHeightLineHeightLineheights20);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTitlexsRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes18);
  line-height: var(--measureLineHeightLineHeightLineheights18);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTitlexsMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes18);
  line-height: var(--measureLineHeightLineHeightLineheights18);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTitlexsSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes18);
  line-height: var(--measureLineHeightLineHeightLineheights18);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTitlexsBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes18);
  line-height: var(--measureLineHeightLineHeightLineheights18);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyBodylRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyTypographyBodylMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyTypographyBodylSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyTypographyBodylBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing:  
  0.02em;
  text-indent: 0px;
  
}    

.typographyTypographyBodymRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyBodymMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyBodymSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyBodymBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing:  
  0.01em;
  text-indent: 0px;
  
}    

.typographyTypographyBodysRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyBodysMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyBodysSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyBodysBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyBodyxsRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyBodyxsMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyBodyxsSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyBodyxsBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyTableNumlRegular 
 {
  
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTableNumlMedium 
 {
  
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTableNumlSemibold 
 {
  
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTableNumlBold 
 {
  
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTableNummRegular 
 {
  
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTableNummMedium 
 {
  
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTableNummSemibold 
 {
  
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTableNummBold 
 {
  
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTableNumsRegular 
 {
  
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTableNumsMedium 
 {
  
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTableNumsSemibold 
 {
  
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTableNumsBold 
 {
  
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTableNumxsRegular 
 {
  
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTableNumxsMedium 
 {
  
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTableNumxsSemibold 
 {
  
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTableNumxsBold 
 {
  
  font-family: "SF Mono";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTablelRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTablelMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTablelSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTablelBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTablemRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTablemMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTablemSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTablemBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTablesRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTablesMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTablesSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTablesBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTablexsRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTablexsMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTablexsSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyTablexsBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing:  
  -0.04em;
  text-indent: 0px;
  
}    

.typographyTypographyLabellRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLabellMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLabellSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLabellBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLabelmRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLabelmMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLabelmSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLabelmBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLabelsRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLabelsMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLabelsSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLabelsBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLabelxsRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLabelxsMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLabelxsSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLabelxsBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLinklRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLinklMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLinklSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLinklBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes16);
  line-height: var(--measureLineHeightLineHeightLineheights16);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLinkmRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLinkmMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLinkmSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLinkmBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes14);
  line-height: var(--measureLineHeightLineHeightLineheights14);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLinksRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLinksMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLinksSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLinksBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes12);
  line-height: var(--measureLineHeightLineHeightLineheights12);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLinkxsRegular 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLinkxsMedium 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLinkxsSemibold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

.typographyTypographyLinkxsBold 
 {
  
  font-family: "SF Pro";
  font-style: normal;
  font-weight: 400;
  font-size: var(--measureFontSizingFontSizeFontsizes8);
  line-height: var(--measureLineHeightLineHeightLineheights8);
  letter-spacing: var(--measureLetterSpacingLetterSpacingLetterspacing0);
  text-indent: 0px;
  
}    

